pyresparser/pyresparser-master/.travis.yml
pyresparser/pyresparser-master/mkdocs.yml
pyresparser/pyresparser-master/OmkarResume.pdf
pyresparser/pyresparser-master/README.md
pyresparser/pyresparser-master/README.rst
pyresparser/pyresparser-master/MANIFEST.in
resume_env
resume_env_spacy34
resumeList
